[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.11'

[packages]
pillow = "==10.4.0"
scikit-learn = "==1.5.1"
img2texture = "*"
flask = "*"
werkzeug = "*"
opensimplex = "*"
