.layout {
  display: flex;
}
.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%;
}
.content {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
}
.header {
  background-color: #333;
  color: white;
  padding: 1em;
}
.image-placeholder {
  padding-top: 2%;
  max-height: 80%;
}

#uploadedImage {
  max-width: 100%;
}

#outputImage {
  max-width: 100%;
  padding-left: 2%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.colour-input {
  width: 100%;
}

#pixel-sidebar {
  display: block;
}

#wang-sidebar {
  display: none;
}

#seamless-sidebar {
  display: none;
}

#procedural-sidebar {
  display: none;
}