.layout {
  display: flex;
}
.sidebar {
  width: 20%;
  background-color: #e7dcde;
  padding: 20px;
  height: 100%;
  h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
.content {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
}
.header {
  background-color: #333;
  color: white;
  padding: 1em;
  h1, p {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  p {
    font-size: 1.4em;
  }
}
.image-placeholder {
  padding-top: 2%;
  max-height: 80%;
}

.active-selection {
  border: #333 solid 3px ;
}

.container img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.colour-input {
  width: 100%;
}

.hidden {
  display: none;
}

#loader {
  display: none;
  border: 25px solid #f3f3f3;
  border-top: 25px solid #3498db;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Sidebar content */
#pixel-sidebar {
  display: block;
}

#wang-sidebar {
  display: none;
}

#seamless-sidebar {
  display: none;
}

#procedural-sidebar {
  display: none;
}

#colours-sidebar {
  display: none;
}

/* procedural content */
#brick-details {
  display: none;
}

#noise-details {
  display: block;
}

#brickborder-details {
  display: none;
}
