.layout {
  display: flex;
}
.sidebar {
  width: 20%;
  background-color: #e7dcde;
  padding: 20px;
  height: 100%;
  h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
.content {
  flex-grow: 1;
  padding: 20px;
  max-width: 100%;
}
.header {
  background-color: #333;
  color: white;
  padding: 1em;
  h1, p {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  p {
    font-size: 1.4em;
  }
}
.image-placeholder {
  padding-top: 2%;
  max-height: 80%;
}

#uploadedImage {
  max-width: 100%;
}

#outputImage {
  max-width: 100%;
  padding-left: 2%;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.colour-input {
  width: 100%;
}


/* Sidebar content */
#pixel-sidebar {
  display: block;
}

#wang-sidebar {
  display: none;
}

#seamless-sidebar {
  display: none;
}

#procedural-sidebar {
  display: none;
}

#colours-sidebar {
  display: none;
}

/* procedural content */
#brick-details {
  display: none;
}

#brickborder-details {
  display: none;
}