<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.min.js"></script>    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <h1>Pixel Texture Forge!</h1>
        <p>Convert images to pixel art and generate textures.</p>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <button 
                        class="pure-menu-link"
                        hx-get="/pages/pixelise"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                    >Pixelize Image</button>
                </li>
                <li class="pure-menu-item">
                    <button 
                        class="pure-menu-link"
                        hx-get="/pages/colours"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                    >Change Colours</button>
                </li>
                <li class="pure-menu-item">
                    <button 
                        class="pure-menu-link"
                        hx-get="/pages/wang"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                    >Wang Tile</button>
                </li>
                <li class="pure-menu-item">
                    <button 
                        class="pure-menu-link"
                        hx-get="/pages/procedural"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                    >Procedural Texture</button>
                </li>
                <li class="pure-menu-item">
                    <button 
                        class="pure-menu-link"
                        hx-get="/pages/seamless"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                    >Convert to Seamless</button>
                </li>
            </ul>
        </div>
    </header>
    <div class="layout">
        <div class="sidebar pure-menu">
            <main id="main-content"
                hx-get="/pages/pixelise"
                hx-trigger="load"
                hx-swap="innerHTML"
            >
            </main>
        </div>
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <form id="imageInputForm">
                        <input type="file" id="imageUpload" accept="image/*" class="pure-button" multiple onchange="onImageUpload(event)">
                    </form>
                    <button id="imageClear" hx-on:click="clearImages()" class="pure-button">Clear</button>
                </div>
                <div class="pure-u-1-2">
                    <button id="setOutputAsInput" hx-on:click="useOutputAsInput()" class="pure-button pure-button-primary">Use output as input</button>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="previewContainer" id="inputPreviewContainer"></div>
                    <div class="container"  id="imageContainer"></div>
                </div>
                <div class="pure-u-1-2">
                    <div id="loader"></div>
                    <div class="previewContainer" id="outputPreviewContainer"></div>
                    <div class="container" id="outputImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
